<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  
  <meta name="viewport" content="width=device-width">
  
  <link rel="stylesheet" href="styles/main.min.css">
  <script src="js/canbus-triple-docs.min.js" type="text/javascript"></script>

</head>
<body>
  {{#markdown}} 
    {{> body}}
  {{/markdown}}  
</body>
</html>