<header>
  <a href="/"><img id="logo" src="/images/logo.svg" alt="CANBus Triple"></a>
  <nav>
    <ul>
      {{#each navigation}}
        <li><a href="{{link}}">{{@key}}</a></li>
      {{/each}}
      <li><a href="https://github.com/CANBus-Triple/"><i class="fa fa-github"></i></a></li>
    </ul>
  </nav>
</header>