<header class="graphic-header">
  <div class="row">
    <div class="column small-10 medium-11">
      <h1>{{title}}</h1>
    </div>
    <div class="column small-2 medium-1">
      <a class="git-edit-link" href="{{package.repository.url}}/edit/master/{{page.src}}"><i class="fa fa-pencil-square-o"></i></a>
    </div>
  </div>
</header>