

// $cbt-grey: #1d1d1e;
// $cbt-white: #fffbf5;
// $cbt-red: #d44840;
// $cbt-orange: #e77e23;
// $cbt-blue: #1d668a;

$cbt-grey: #1d1d1e;
$cbt-white: #fbfbfb;
$cbt-red: #d44840;
$cbt-orange: #e77e23;
$cbt-blue: #1d668a;
